<div class="card">
    <div class="card-header">
        Cadastro de Clientes
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="nome"class="col-md-4 col-form-label text-md-right">
                Username
            </label>
            <div class="col-md-6">
                <input id="destino" type="text" name="destino" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="nome"class="col-md-4 col-form-label text-md-right">
                Email
            </label>
            <div class="col-md-6">
                <input id="tipo" type="text" name="tipo" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="dataInicio" class="col-md-4 col-form-label text-md-right">
                Password
            </label>
            <div class="col-md-6">
                <input id="dataChegada" type="date" name="dataChegada" required="required" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary btn-sm">
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>
